<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">E-Ticaret App</a>

    <ul class="navbar-nav px-3">
      <li class="navbar navbar-light" style="background-color: #00741d">
        <a
          *ngIf="isLoggedin() == false"
          class="nav-link"
          style="color: white"
          routerLink="/login"
        >
          Login
        </a>
        <a *ngIf="isLoggedin() == true" (click)="logOut()" class="nav-link">
          LogOut
        </a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="navbar navbar-light">
              <a
                class="nav-link menu"
                style="color: white"
                routerLink="/product-add-1"
              >
                <span data-feather="file"></span>
                Ürün Ekle / Kullanıcı Girişli
              </a>
            </li>
            <li class="navbar navbar-light">
              <a
                class="nav-link menu"
                style="color: white"
                routerLink="/product-add-2"
              >
                <span data-feather="shopping-cart"></span>
                Ürün Ekle / Reactive Form
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</body>
